html, body {
    font-size: 14px;
    margin: 0;
    min-height: 200px;
    padding: 0;
    width: 500px;
    background-color: #ffff; 
    color: gray
    
}
h1 {
    font-size: 21px;
    font-weight: 350;
    margin: 0;
    color: #FF0073;
    text-align: center;
    /* text-decoration-line: underline */
}

/* 
a:link, a:visited {
    color: #000;
    outline: 0;
    text-decoration: none;
} */
/* img {
    width: 200px;

} */
.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dadada
}

.logo {
    padding: 10px;
    /* margin-bottom: 10px;  */
}

.logo_text {
    margin: 10px;
    font-size: 28px;
    color: #3E68CF;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    /* padding: 20px; */
    margin-top: 20px
}

.flex {
    opacity: 1;
    /* transition: opacity 0.2s ease-in-out; */
    /* width: 120px; */
    text-align: center
}

.flex:hover {
   opacity: 0.6 
}

.flex .fa {
    /* font-size: 40px */
}
